.nav {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navhome {
  margin-left: 5vw;
  display: flex;
  align-items: center;
}

.navhome span {
  color: #747487;
  display: inline-block;
  padding-left: 1rem;
  margin-left: 1rem;
  border-left-width: 1px;
  border-color: #747487;
}

.navdoc {
  flex-grow: 1;
}

.navleave {
  margin-right: 2rem;
}

.navdoc span {
  margin: 0 10px 0 0;
  padding-left: 1rem;
  border-left-width: 1px;
  border-color: #747487;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: -125px; /* Move the entire content up by 100 pixels */
}

h1 {
  margin-bottom: 20px; /* Add space between the header and the video box */
}

.video button {
  margin-top: 20px; /* Adjust spacing as needed */
  cursor: pointer;
  width: 150px; /* Adjust width as needed */
  height: 50px; /* Adjust height as needed */
  font-size: 18px; /* Adjust font size as needed */
}



